@use "src/scss/colors" as colors;
@use "src/scss/mixins" as mixins;

.Project {
    max-width: 800px;
    color: colors.$title;

    border: 2px solid colors.$pink;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 20px;
    margin: 30px 0;

    transition: opacity 500ms ease-in 300ms;
    opacity: 0;

    .title-line {
        font-size: 32px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        flex-wrap: wrap;

        h4 {
            margin: 0 24px 0 0;
            display: inline-block;

            font-weight: bold;
            font-size: 32px;
            line-height: 37px;
        }

        .languages {
            display: inline-flex;

            width: 100%;
            order: 2;

            .language {
                color: colors.$pink-secondary;
                font-size: 18px;

                &:not(:last-child):after {
                    content: "\2219";
                    margin: 0 10px;
                }
            }
        }

        .icon {
            &:first-of-type {
                margin-left: auto;
            }

            &:not(:first-of-type) {
                margin-left: 8px;
            }

            svg {
                color: colors.$pink;
                transition: opacity 100ms ease-in, color 300ms ease-in;
                opacity: 0;
                cursor: pointer;
            }

            &:hover {
                svg {
                    transition: color 100ms ease-out;
                    color: colors.$pink-secondary;
                }
            }
        }

        @include mixins.tablet-landscape-up {
            flex-wrap: nowrap;

            .languages {
                width: unset;
                order: 0;
            }
        }
    }

    &:hover {
        .icon {
            svg {
                transition: opacity 250ms ease-out;
                opacity: 1;
            }
        }
    }

    p {
        margin: 0;
        color: colors.$project-body;
    }
}
