@use "src/scss/colors" as colors;
@use "src/scss/mixins" as mixins;

.summary {
    max-width: 800px;
    margin: 0 auto 50px;

    p {
        padding: 25px;
        color: colors.$title;

        a {
            text-decoration: none;
            color: colors.$pink;

            &:hover {
                border-bottom: #D215FA 2px dotted;
            }
        }
    }
}

.scroll-container {
    .arrows {
        width: 60px;
        height: 72px;
        position: absolute;
        left: 50%;
        margin-left: -30px;
        bottom: 50px;
    }

    .arrows path {
        stroke: colors.$light_blue;
        fill: transparent;
        stroke-width: 1px;
        animation: arrow 2s infinite;
    }

    @keyframes arrow {
        0% {
            opacity: 0
        }
        40% {
            opacity: 1
        }
        80% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }

    .arrows path.a1 {
        animation-delay: -1s;
    }

    .arrows path.a2 {
        animation-delay: -0.5s;
    }

    .arrows path.a3 {
        animation-delay: 0s;
    }
}

.projects {
    position: absolute;
    top: 100vh;
    display: flex;
    justify-content: center;
    padding-bottom: 25vh;

    width: 800px;
    flex-wrap: wrap;

    &.showing {
        .Project {
            opacity: 1;
        }
    }
}
