@import "_mixins.scss";

// This file should only be included once, in index.scss

// Dealing with justifying content in the middle and setting a max width
.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    .content {
        @include content-width;

        height: 100%;
    }
}